:root {
    --azul: rgba(3, 61, 155, 0.822);
    --azul-c: rgb(10, 65, 231);
    --azul-c-2: rgba(122, 173, 255, 0.822);
    --azul-c-3: rgb(0, 110, 255);
    --azul-c-4: rgba(148, 205, 255, 0.575);
    --azul-e: rgb(0, 17, 70);
    --azul-e-2: rgb(9, 15, 194);
    --preto: rgba(0, 0, 0, 0.2);
    --amarelo: #c5b912;
    --vermelho: rgb(200, 0, 0);
    --verde: rgb(0, 138, 0);
    --cinza-c: #ccc;
    --cinza50: rgb(50, 50, 50);
    --cinza90: rgb(90, 90, 90);
    --cinza100: rgb(100, 100, 100);
    --cinza200: rgb(200, 200, 200);
    --cinza220: rgb(220, 220, 220);
    --cinza228: rgb(228, 228, 228);
    --cinza225: rgb(225, 225, 225);
    --cinza230: rgb(230, 230, 230);
    --cinza240: rgb(240, 240, 240);
    --cinza245: rgb(245, 245, 245);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

.obrigatorio {
    color: red;
}

.iconeGG {
    width: 4rem;
    height: 4rem;
}

.iconeG {
    width: 3.5rem;
    height: 3.5rem;
}

.iconeM {
    width: 3rem;
    height: 3rem;
}

.iconeP {
    width: 2rem;
    height: 2rem;
}


/* Cor do Body */

.corFundo {
    background-color: var(--cinza225);
}

/* Cabeçalho */

.risco {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

.risco::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    animation: animarisco 1s ease-out 1 forwards;
}

@keyframes animarisco {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

header {
    height: 10rem;
    background-image: linear-gradient(var(--azul), var(--azul-c));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

header .logo {
    height: 200%;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 155%;
}

header a {
    color: white;
    transition: color 0.5s;
}

header a:hover {
    color: var(--amarelo);
}

/* Risco */

nav a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 5px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.5s ease-in-out;
}

nav a.pre-ativo::after {
    width: 0;
}

nav a.ativo::after {
    width: 100%;
}

nav a::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1.5px;
    width: 0;
    background-color: var(--azul-c-2);
    transition: 0.3s;
}

nav a:hover::before {
    width: 100%;
    left: 0;
}

/* Menu dropdown login */

.menulogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cadastro {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

#cadastro a {
    margin: 0;
    margin-right: 0.5rem;
    font-size: 125%;
    background-color: transparent;
    transition: color 0.3s;
}

.dropdown-entrar {
    z-index: 1;
    display: none;
    position: absolute;
    top: 9%;
    background-color: var(--cinza245);
    box-shadow: 0 0.2rem 0.5rem var(--preto);
    border-radius: 0.4rem;
    padding: 1rem 0;
    min-width: 4rem;
}

.dropdown-entrar a {
    font-size: 100%;
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--cinza100);
    transition: background 0.3s;
}

.dropdown-entrar a:hover {
    background-color: var(--azul-c-2);
    color: black;
}

.dropdown-entrar.show {
    display: block;
}

.Cadastre-se,
.Acessar {
    display: none;
}

/* Menu hamburguer */

header .topoMenu {
    display: none;
}

header .botaoMenu {
    height: 2.5rem;
    width: 4rem;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header .botaoMenu div {
    height: 4px;
    width: 60%;
    background-color: white;
    border-radius: 50px;
    transition: background 0.5s, transform 0.5s;
}

header .botaoMenu:hover div {
    background-color: black;
}

header .creditos {
    display: none;
}

header .botaoMenu:hover .ret1 {
    transform: translateX(-0.2rem);
}

header .botaoMenu:hover .ret2 {
    transform: translateX(0.2rem);
}

header .botaoMenu:hover .ret3 {
    transform: translateX(-0.2rem);
}

/* Slogan */

.slogan {
    background-color: var(--cinza230);
    text-align: center;
    height: 3rem;
    padding: 0 5%;
    color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

.slogan::after {
    content: "🌍";
}

/* Slides */

.banner {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    display: block;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

/* Setas dos slides */

.arrow {
    position: absolute;
    top: 45%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.7s;
}

.prev {
    left: 4rem;
}

.next {
    right: 1rem;
}

.dots {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: center;
}

.dot {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: white;
}

/* Main index */

.indexPrincipal {
    display: flex;
    gap: 2rem;
    padding: 2rem 5%;
    margin-top: 10rem;
}

.indexPrincipal .viagens {
    width: 100%;
}

.indexPrincipal .viagens h1 {
    font-size: 2.5rem;
    padding: 2rem;
}

/* Card viagens */

.containerViagens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin: 1.2rem 0;
    width: 100%;
    justify-content: center;
}

.containerViagens .card .verimg1,
.verimg2,
.verimg3,
.verimg4,
.tituloViagem,
.descricaoViagem {
    display: none;
}

.card .reserva {
    display: none;
}

.card h3 {
    display: flex;
    align-items: center;
}

.Local {
    align-items: center;
    justify-content: center;
    background-color: var(--azul-c-4);
}

.containerViagens .card {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: box-Shadow 0.5s, transform 0.3s, z-index;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.containerViagens .card:hover {
    box-shadow: 0 20px 25px rgba(40, 40, 40, 0.5);
}

.containerViagens .card .informacao {
    padding: 0.5rem;
    color: black;
    font-size: 1.6rem;
    gap: 0.5rem;
}

.card a {
    color: var(--cinza50);
    text-decoration: underline;
}

.card span {
    color: var(--cinza50);
}

.containerViagens .card .preco {
    color: var(--verde);
}

.containerViagens .card .btnagenda {
    color: white;
    background-color: var(--azul-c-3);
    border: none;
    cursor: pointer;
    width: 80%;
    padding: 1rem;
    margin: 2rem auto;
    display: block;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.containerViagens .card .btnagenda:hover {
    background-color: var(--azul-c);
    transition: 0.7s;
}

/* Carrega página de agendamento */


.titulo {
    border-bottom: 1px solid gray;
    margin: 1rem;
    text-align: center;
    height: 3rem;
    padding: 2%;
    color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

.galeriaViagem,
.galeriaInfo {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    justify-content: space-between;
}

.cardimg {
    display: flex;
    gap: 1rem;
    max-width: 100%;
    flex: 1;
}

.miniaturas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    max-width: 9.5rem;
}

.miniatura {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: border 0.3s;
    flex-shrink: 0;
}

.miniatura:hover,
.miniatura.ativa {
    border: 1px solid #333;
}

.principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.descricao {
    text-align: center;
    padding: 1.5rem;
    flex: 1;
    font-size: 3rem;
    line-height: 1.6;
    color: var(--cinza50);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--cinza200);
}

.info {
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    margin: 0 16rem;
    padding: 2rem;
    gap: 1rem;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--cinza200);
}

.info h3 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.info a {
    color: var(--cinza50);
    text-decoration: underline;
}

.info span {
    color: var(--cinza50);
}

.reservas {
    width: 50%; 
    margin: 0 1rem;
}

.reserva {
    background-color: var(--cinza200);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(40, 40, 40, 0.5);
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.reserva h5.precoPorDia {
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: baseline;
}

.reserva h5.precoPorDia span {
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--cinza50);
    margin-left: 5px;
}

.box-reserva {
    width: 100%;
    border: 1px solid var(--cinza100);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.datas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--cinza100);
}

.check {
    padding: 1rem;
    border-right: 1px solid var(--cinza100);
}

.check:last-child {
    border-right: none;
}

.check label {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cinza50);
    margin-bottom: 0.3rem;
    display: block;
}

.check p {
    font-size: 1.4rem;
    font-weight: 500;
}

.hospedes {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.hospedes label {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cinza50);
}

.hospedes p {
    font-size: 1.4rem;
    font-weight: 500;
}

#seta {
    font-size: 2.5rem;
    background-color: transparent;
    color: var(--cinza50);
    border: none;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 123%;
    width: 48%;
    background-color: var(--cinza200);
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown ul li {
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
}

.dropdown ul li:hover {
    background-color: var(--cinza225);
}


/* Quem Somos */

.logo2 {
    background-color: var(--cinza225);
    display: flex;
    justify-content: center;
    height: 20rem;
}

.indexquemsomos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 5%;
    gap: 5rem;
}

.ladoEsquerdo {
    flex: 1;
    min-width: 30rem;
    max-width: 60rem;
}

.ladoEsquerdo h1 {
    display: flex;
    gap: 0.5rem;
    font-size: 4rem;
    color: var(--cinza90);
    margin-bottom: 0.5rem;
    align-items: center;
}

.ladoEsquerdo h1::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 4rem;
    background-color: var(--azul);
}

.ladoEsquerdo .textos p {
    font-size: 2rem;
    line-height: 1.8;
    color: var(--cinza100);
}

.ladoDireito {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 280px;

}

.imagem-fundadores img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

/* Cadastro */

.form-container .icone {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
}

.form-container .iconesolo {
    margin-left: -3rem;
}

.containerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    padding: 2rem;
    min-height: calc(100vh - 15rem);
}

.cardCadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    width: 35rem;
    height: 38rem;
    box-sizing: border-box;
}

.cardCadastro:hover {
    box-shadow: 0 20px 25px rgba(40, 40, 40, 0.5);
}

.cardCadastro h1 {
    font-size: 2.5rem;
}

.cardCadastro h2 {
    font-size: 1.8rem;
}

.cardCadastro h3 {
    font-size: 1.5rem;
}

.cardCadastro a {
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: auto;
    margin: 1rem;
    border-radius: 10px;
    width: 80%;
    color: white;
    background-color: var(--azul-c-3);
    text-decoration: none;
    transition: background-color 0.3s;
}

.cardCadastro a:hover {
    background-color: var(--azul-c);
}

.icone {
    font-size: 6rem;
}

/* Cadastro Pessoa Física e juridica*/

.maincadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-container {
    background-color: white;
    padding: 5rem 4rem;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 40rem;
    overflow: unset;
}

.form-container:hover {
    box-shadow: 0 20px 25px rgba(40, 40, 40, 0.5);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: var(--cinza90);
    font-size: 2.5rem;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--cinza100);
    font-size: 1.5rem;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--cinza-c);
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s;
}

form input:focus {
    border-color: var(--azul);
    outline: none;
}

.form-container button {
    width: 100%;
    padding: 1rem;
    background-color: var(--azul-c-3);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: var(--azul-c);
}

.mensagem {
    margin-top: 15px;
    font-size: 14px;
    display: none;
    padding: 10px 12px;
    border-radius: 5px;
}

.mensagem.erro {
    color: #d93025;
    background-color: #fdecea;
    border: 1px solid #f5c6cb;
}

.mensagem.sucesso {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.mensagem ul {
    padding-left: 18px;
    margin: 0;
}

.mensagem li {
    margin-bottom: 5px;
    list-style-type: disc;
}

.footerCadastro {
    position: fixed;
}

/* Contato */

.formContato {
    display: flex;
    flex-direction: column;
    padding: 6rem 5%;
}

.formContato .tituloContato {
    font-size: 4rem;
    color: var(--azul-c-3);
    display: flex;
    justify-content: center;
    text-align: center;
}

.formContato .complementoTitulo {
    font-size: 2rem;
    color: var(--cinza100);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.formContato .obrigatorio {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.formContato label {
    font-size: 2rem;
    color: var(--cinza100);
    margin-bottom: 1rem;
}

.formContato input {
    width: 100%;
    border: 1px solid var(--cinza-c);
    border-radius: 6px;
    font-size: 1.5rem;
    transition: border-color 0.3s;
}

.formContato input:focus {
    border-color: var(--azul);
    outline: none;
}

.formContato select {
    width: 100%;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 2rem;
    border: 1px solid var(--cinza-c);
    font-size: 1.5rem;
    transition: border-color 0.3s;
}

.formContato select:focus {
    border-color: var(--azul);
    outline: none;
}

.formContato textarea {
    width: 100%;
    height: 15rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid var(--cinza-c);
    border-radius: 6px;
    font-size: 1.5rem;
    transition: border-color 0.3s;
    resize: none;
    text-align: left;
    /* Alinha à esquerda */
}

.formContato textarea::placeholder {
    color: #aaa;
    opacity: 1;
}

.formContato .formRodape {
    display: flex;
    justify-content: flex-end;

}

.formContato .formRodape input {
    border: none;
    width: 7rem;
    background-color: var(--azul-c-3);
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.formContato .formRodape input:hover {
    background-color: var(--azul-c);
}

/* Rodapé */

footer {
    background-image: linear-gradient(var(--azul), var(--azul-c));
    padding: 2rem 5%;
    bottom: 0;
    width: 100%;
    color: white;
    z-index: 100;
}

footer p {
    color: white;
    font-size: 130%;
}

/* Index Principal */

@media screen and (max-width: 1290px) {

    /* Modal Viagens */

    .modal-conteudo {
        max-width: 60%;
    }
}

@media screen and (max-width: 1250px) {

    /* Card */

    .containerViagens {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Modal Viagens */

    .modal-conteudo {
        max-width: 60%;
    }
}

@media screen and (max-width: 1130px) {

    /* Quem Somos */

    .indexquemsomos {
        flex-direction: column;
        text-align: center;
    }

    .ladoEsquerdo .textos p {
        font-size: 2rem;
    }

    .ladoEsquerdo h1 {
        justify-content: center;
    }

    /* Modal Viagens */

    .modal-conteudo {
        max-width: 60%;
    }
}

@media (max-width: 1000px) {

    /* Modal Viagens */

    .modal-conteudo {
        max-width: 70%;
    }
}

@media screen and (max-width: 950px) {

    /* Logo */

    header .logo {
        height: 150%;
    }

    /* Menu hamburguer */

    header .botaoMenu {
        display: flex;
    }

    header nav {
        position: fixed;
        background-color: var(--cinza245);
        top: 0;
        bottom: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        padding: 3rem;
        width: 100%;
        right: -100%;
        transition: right 0.5s;
        z-index: 2;
    }

    header .topoMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;
    }

    header .fecharMenu {
        border: none;
        background-color: transparent;
        color: var(--vermelho);
        cursor: pointer;
    }

    /* Menu Dropdown */

    header .Cadastre-se,
    .Acessar {
        display: flex;
    }

    .menulogin {
        display: none;
    }

    /* Cabeçalho */

    header a {
        color: var(--cinza100);
    }

    header nav a {
        border-bottom: 1px solid var(--cinza220);
        display: flex;
        width: 100%;
        padding: 1rem;
        transition: background 0.5s;
    }

    header nav a:hover {
        background-color: var(--azul-c-2);
    }

    header .creditos {
        display: block;
        margin-top: 2rem;
    }

    /* Main */

    .indexPrincipal {
        flex-direction: column;
    }

    /* Card */

    .containerViagens {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 855px) {

    /* Card escolher tipo cadastro */

    .containerCard {
        gap: 5rem;
    }
}

@media screen and (max-width: 810px) {

    /* Card escolher tipo cadastro */

    .containerCard {
        gap: 2rem;
    }
}

@media screen and (max-width: 768px) {

    /* Banner Slides */

    .arrow {
        font-size: 2.2rem;
        padding: 0.8rem;
    }

    .dot {
        width: 1.2rem;
        height: 1.2rem;
    }

    /* Modal Viagens */

    .modal-conteudo {
        max-width: 80%;
    }

    .modal-titulo {
        font-size: 16px;
    }

    .modal-body {
        padding: 15px;
    }

    .modal-header,
    .modal-footer {
        padding: 10px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 600px) {

    /*Cards pessoa fisica e juridica*/

    .form-container {
        padding: 20px 60px;
        width: 100%;
        max-width: 350px;
    }
}

@media screen and (max-width: 500px) {

    /* Card */

    .containerViagens {
        grid-template-columns: 1fr;

    }
}

@media screen and (max-width: 480px) {

    /*Cards pessoa fisica e juridica*/

    .form-container {
        padding: 25px 60px;
        width: 100%;
        max-width: 320px;
        max-height: 55vh;
        overflow: hidden;
    }
}

@media (max-width: 400px) {

    /* Modal Viagens */

    .modal-conteudo {
        max-width: 90%;
    }

    .modal-titulo {
        font-size: 14px;
    }

    .modal-body {
        padding: 10px;
    }

    .modal-header,
    .modal-footer {
        padding: 8px;
    }

    .btn {
        font-size: 13px;
        padding: 6px 12px;
    }
}